@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body{font-family: 'Open Sans', sans-serif; font-size:14px;}

img{max-width:100%;}

.container-navigation, .container-footer{padding-left:7px; padding-right:7px;}
.container-grid{/*max-width:986px;*/ overflow:hidden;}
.container-grid > .row{margin-left:-7px; margin-right:-7px;}
.grid-item{float:left; padding:7px; position:relative;}
.grid-item a{text-decoration:none;}
.grid-item .image-description{min-height:60px; padding:10px 0;}
.grid-item .image-title{font-size:16px; font-weight:300; line-height:1.3; margin:0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.grid-item .image-title a{color:#000;}
.grid-item .image-category{font-size:13px; font-weight:300;}

.grid-item .grid-thumbnail{overflow:hidden; padding-top:66.66%; position:relative;}
.grid-item .grid-thumbnail .image-wrapper{bottom:0; left:0; position:absolute; right:0; top:0;}
.grid-item .grid-thumbnail img{max-width:100%;}

.grid-item-1 .grid-thumbnail{padding-top:67.66%;}

.grid-item-featured .grid-thumbnail .image-wrapper, .grid-item-featured .image-description{background:#0296ff; color:#fff; padding:10px;}
.grid-item-featured .image-title a, .grid-item-featured .image-category a{color:#fff;}

.social-sharing{background:rgba(0,0,0,.75); bottom:-48px; height:48px; left:0; padding:10px; position:absolute; right:0; text-align:center; transition:all .2s linear; -webkit-transition:all .2s linear; z-index:1;}
.social-sharing [class^="icon-"]{background:url(../images/icons-social.png); background-size:56px 56px; display:inline-block; height:28px; width:28px;}
.social-sharing .icon-facebook{background-position:0 0;}
.social-sharing .icon-twitter{background-position:-28px 0;}
.social-sharing .icon-pinterest{background-position:0 -28px;}
.social-sharing .icon-sharing{background-position:-28px -28px;}
.social-sharing .icon-favorite{background:url(../images/icon-favorite.png); background-size:35px 56px; height:28px; width:35px;}

.grid-item :hover .social-sharing{bottom:0;}
	
.social-sharing .nav-justified{width:100%;}
.social-sharing .nav-justified > li{display:table-cell; width:1%;}
.social-sharing .nav-justified > li > a{padding:0;}
.social-sharing .nav-justified > li > a:focus, .social-sharing .nav > li > a:hover, .social-sharing .nav > li > a:active{background:none; outline:none;}

@media screen and (max-width: 500px) {
	.grid-item{width:100%;}
}

@media screen and (min-width: 500px) {
	.grid-item{width:50%;}
	.grid-item-1{width:100%;}
	.grid-item-2, .grid-item-3, .grid-item-4, .grid-item-5{width:50%;}

	.grid-item-1 .image-description{background:none; bottom:17px; left:17px; position:absolute; right:17px;}
	.grid-item-1 .image-title{display:table-footer-group; font-size:24px;}
	.grid-item-1 .image-category{display:table-header-group;}
	.grid-item-1 .image-title a, .grid-item-1 .image-category a{color:#fff;}
	
	.grid-item-1 .social-sharing{bottom:auto; top:-48px;}
	.grid-item-1:hover .social-sharing{bottom:auto; top:0;}
}

@media screen and (min-width: 768px) {
	.grid-item{width:33.3333%;}
	.grid-item-1{width:66.6667%;}
	.grid-item-2, .grid-item-3{width:33.3333%;}
	.grid-item-4, .grid-item-5{width:50%;}

	.grid-item-1 .image-description,
	.grid-item-2 .image-description,
	.grid-item-3 .image-description{background:none; bottom:17px; left:17px; position:absolute; right:17px;}
	.grid-item-1 .image-title{font-size:24px;}
	.grid-item-1 .image-title, .grid-item-2 .image-title, .grid-item-3 .image-title{display:table-footer-group;}
	.grid-item-1 .image-category, .grid-item-2 .image-category, .grid-item-3 .image-category{display:table-header-group;}
	.grid-item-1 .image-title a, .grid-item-1 .image-category a,
	.grid-item-2 .image-title a, .grid-item-2 .image-category a,
	.grid-item-3 .image-title a, .grid-item-3 .image-category a{color:#fff;}
	
	.grid-item-1 .social-sharing, .grid-item-2 .social-sharing, .grid-item-3 .social-sharing{bottom:auto; top:-48px;}
	.grid-item-1:hover .social-sharing, .grid-item-2:hover .social-sharing, .grid-item-3:hover .social-sharing{bottom:auto; top:0;}
}

@media screen and (min-width: 992px){
	.grid-item{width:25%;}
	.grid-item-1{width:66.6667%;}
	.grid-item-2, .grid-item-3{width:33.3333%;}
	.grid-item-4, .grid-item-5, .grid-item-6{width:33.3333%;}
	.grid-item-1 .grid-thumbnail{padding-top:67.39%;}
}

@media screen and (min-width: 1200px){
	.grid-item-1 .grid-thumbnail{padding-top:67.18%;}
    .container{width:970px;}
}

/*  ==  Header Styles  ==  */
#social-header{background:#3c7dc9; padding:10px 0; transition:all .3s linear; -webkit-transition:all .3s linear;}
.user-female #social-header{background:#f6358a;}
#social-header a{color:#fff; font-size:16px; margin:0 1px;}
#social-header a span{border:2px solid #fff; border-radius:50%; display:inline-block; height:30px; padding:5px; text-shadow:1px 1px 1px rgba(0,0,0,.5); text-align:center; transition:all .3s linear; -webkit-transition:all .3s linear; vertical-align:middle; width:30px;}
#social-header a:hover span{background:#999; box-shadow:0 0 4px rgba(0,0,0,.5);}

#site-header{background:#fff; box-shadow:0 2px 3px -1px rgba(0,0,0,.25); margin-bottom:15px; transition:all .3s linear; -webkit-transition:all .3s linear; width:100%;}
#site-header .navbar{border:0; border-radius:0; font-size:15px; font-weight:600; margin:0; min-height:38px; text-transform:uppercase;}
#site-header .navbar a{color:#3c7dc9; transition:all .3s linear; -webkit-transition:all .3s linear;}
#site-header .nav > li > a{border-bottom:3px solid transparent; padding-bottom:6px; padding-top:9px;}
.nav-selected{background:none; border-color:initial !important;}
#site-header .nav > li > a:focus, #site-header .nav > li > a:hover{background:none; border-color:initial;}
#site-header .dropdown-menu > li > a{font-weight:600;}
.user-female #site-header a{color:#f6358a;}
.user-scroll #site-header{left:0; position:fixed; top:0; width:100%; z-index:999;}
#site-header .navbar-brand{height:50px; padding:9px 0; margin-right:30px;}

.site-logo{display:block; max-width:130px; transform:translateY(-55%); transform-origin:0 50%; transition:all 0.3s linear; -webkit-transform:translateY(-55%); -webkit-transform-origin:0 50%; -webkit-transition:all 0.3s linear;}
.site-logo img{max-width:100%;}
.user-scroll .site-logo{transform:translateY(-34%) scale(.6); -webkit-transform:translateY(-34%) scale(.6);}

.onoffswitch{position:relative; width:95px; margin:8px 0 0; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.onoffswitch-checkbox{display:none;}
.onoffswitch-label{display:block; font-weight:600; overflow:hidden; cursor:pointer; border-radius:20px; margin:0;}
.onoffswitch-inner{display:block; width:200%; margin-left:-100%; transition:margin 0.3s ease-in 0s; -webkit-transition:margin 0.3s ease-in 0s;}
.onoffswitch-inner:before, .onoffswitch-inner:after{display:block; float:left; width:50%; height:22px; padding:0; line-height:22px; font-size:12px; color:#fff; box-sizing:border-box;}
.onoffswitch-inner:before{content:"I'm Male"; padding-left:10px; background-color:#3c7dc9; color:#fff;}
.onoffswitch-inner:after{content:"I'm Female"; padding-right:10px; background-color:#f6358a; color:#fff; text-align:right;}
.onoffswitch-switch{display:block; width:12px; margin:5px; background:#fff; position:absolute; top:0; bottom:0; box-shadow:inset 0 0 4px rgba(0,0,0,.25); right:73px; border-radius:20px; transition:all 0.3s ease-in 0s; -webkit-transition:all 0.3s ease-in 0s;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner{margin-left:0;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch{right:0;}

#site-header .navbar-toggle{background:#fff;}
#site-header .navbar-toggle .icon-bar{background:#3c7dc9;}
.user-female #site-header .navbar-toggle .icon-bar{background:#f6358a;}

#site-footer{background:#fff; bottom:0; box-shadow:0 -2px 3px -1px rgba(0,0,0,.25); left:0; padding-bottom:8px; padding-top:8px; position:fixed; width:100%;}
#site-footer p{margin:0;}

.page-heading + .media{margin:15px 0;}
aside .grid-item{float:none; padding:0px; position:relative; width:100%;}
aside .grid-item + .grid-item{margin-top:15px;}

#site-contents{margin:25px 0;}
#site-contents.loading-contents{position:relative;}
#site-contents.loading-contents:after{background:url('../images/preloader.gif') center no-repeat; content:""; height:100%; left:0; position:absolute; top:0; width:100%;}

.article-social-sharing{font-size:24px; line-height:24px;}
.article-social-sharing .sharing-count{border:1px solid #ccc; border-radius:2px; display:inline-block; font-size:12px; line-height:10px; margin-right:5px; padding:5px; text-align:center;}
.article-social-sharing a{border:1px solid transparent; border-radius:2px; box-shadow:0 0 2px rgba(0,0,0,.2); display:inline-block; height:32px; padding:2px; text-align:center; text-decoration:none; text-shadow:1px 1px 1px rgba(0,0,0,.5); width:34px;}
.article-social-sharing .icon-facebook{background:#45649D; border-color:#37578E; color:#fff;}
.article-social-sharing .icon-twitter{background:#5BC9EE; border-color:#4AB7DB; color:#fff;}
.article-social-sharing .icon-google-plus{background:#D53B2F; border-color:#C12D22; color:#fff;}
.article-social-sharing .icon-envelope-o{background:#1D84D3; border-color:#1377C4; color:#fff; width:38px;}
.article-social-sharing .icon-facebook:hover{background:#37578E;}
.article-social-sharing .icon-twitter:hover{background:#4AB7DB;}
.article-social-sharing .icon-google-plus:hover{background:#C12D22;}
.article-social-sharing .icon-envelope-o:hover{background:#1377C4;}


@media screen and (max-width:767px){
	#site-header{background:#3c7dc9;}
	.user-female #site-header{background:#f6358a;}
	#site-header .navbar-brand{margin-left:10px;}
	.onoffswitch{border:1px solid #fff; border-radius:20px; box-shadow:0 0 3px rgba(0,0,0,.3); margin:5px auto; width:125px;}
	.onoffswitch-inner:before, .onoffswitch-inner:after{font-size:16px; height:30px; line-height:30px;}
	.onoffswitch-switch{margin:7px; right:93px; width:16px;}
	#site-header .navbar a{color:#fff;}
	#site-header .nav > li + li{border-top:1px solid rgba(255,255,255,.15);}
	#site-header .nav a:hover, #site-header .nav .open > a, #site-header .nav .open > a:focus, #site-header .nav .open > a:hover, #site-header .nav > li > a:focus, #site-header .nav > li > a:hover{background:rgba(255,255,255,.15);}
	.site-logo, .user-scroll .site-logo{transform:translateY(-34%) scale(.5); -webkit-transform:translateY(-34%) scale(.5);}
	
	
	#site-header .navbar-collapse{background:rgba(60,125,201,.9); display:block; height:auto!important; left:-100%; margin:0; position:absolute; transition:all .4s linear; width:100%; z-index:9;}
	#site-header .navbar-collapse.in{left:0;}
	.user-female #site-header .navbar-collapse{background:rgba(246,53,138,.9);}
}